h1 { 
	font-family: times new roman;
	font-size: 80px;
	font-weight: normal; 
	font-variant: small-caps;
	font-style: italic;
   


  }

p {
	font: italic normal bold 16px/18px helvetica,arial, sans-serif;



}